body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}
.form-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: brown;
}
label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
}
textarea {
    height: 80px;
}
.submit-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
}


